/*


CORE


*/

:root {
  --bgr-1: #ebebeb;
  --bgr-2: white;
  --border-color-1: white;
  --navbar-width: 130px;
  --selection-color-1: #1f2c33;
  --box-shadow-1: 0px 0px 3px rgba(0, 0, 0, 0.1),
    0px 0px 20px rgba(0, 0, 0, 0.04);
  --box-shadow-2: 0px 0px 3px rgba(0, 0, 0, 1), 0px 0px 20px rgba(0, 0, 0, 1);

  background-color: var(--bgr-1);
}
@font-face {
  font-family: "digital-7";
  src: url("./fonts/digital-7.ttf");
}
body {
  font-family: "Comfortaa";
}
.app {
  width: 100vw;
  height: 100vh;
}
/*

MANAGER VIEW (Booker, manager, organizer)

*/

.Manager {
  background-color: var(--bgr-1);
  width: 100%;
  height: 100%;
}
.navBar {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 100%;
  width: var(--navbar-width);
  position: fixed;
  overflow-x: hidden;
  padding: 30px 0px 10px 0px;
  z-index: 1;
}
.avatar {
  /* border: var(--border-color-1) 1px solid black; */
  /* border-radius: 50%; */
  display: flex;
  align-items: center;
  flex-direction: column;
}
.navBar nav {
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.navButton {
  align-items: center;
  display: flex;
  width: 100%;
}
.navButtonIndicator {
  display: flex;
  width: 10px;
  height: 30px;
}
.navIconContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-right: 10px;
}

.main {
  padding: 30px;
  width: calc(100vw - var(--navbar-width));
  margin: 5px;
  margin-left: var(--navbar-width);
}
.panel {
  background-color: var(--bgr-2);
  border-radius: 28px;
  min-height: calc(100vh - 25px);
}
.testje {
  width: 100%;
  text-align: right;
}
.headje {
  width: 100%;
  display: flex;
}
.CoolGrid {
  width: 100%;
  min-width: 300px;
  min-height: 100px;
  height: 90%;
  overflow-y: scroll;
  overflow-x: hidden;
  align-items: center;
}
.CoolGrid_viewControl {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  height: 50px;
}
.CoolGrid_viewControl div {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
.CoolGridControls {
  border-radius: 30px;
  padding-left: 10px;
  padding-top: 15px;
  box-sizing: border-box;
}
.CoolGridControls:hover {
  background-color: var(--bgr-1);
}
.CoolList {
  background-color: var(--bgr-1);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.CoolList li {
  cursor: pointer;
}
.subPaper {
  background-color: rgb(231, 0, 0);
}
.CoolList li:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}
